
/* Style the navigation menu */
.navLists {

    list-style-type: none;
    width:100%;
    background-color: #555;
    overflow: auto;
    margin: 0;
    padding: 0;
}

/* Navigation links */
.navLists li a {
    float: left;
    padding: 12px;
    color: #fff;
    font-size: 20px;
    width: 22%;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
}

/* Add a background color on mouse-over */
.navLists a:hover {
    background-color: black;
}
/* Style the current/active link */
.navLists a.active {
    background-color: #04AA6D;
  }
  
/* THis part style "Things cats love: lists */

ul.catsFavoriteThings li {
    background-color: #fff;
    list-style-type: disc;
    font-style: italic;
}